/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

// 料金とキャンペーン情報
.money {
  &__inner {
    width: 30%;
  }
  .plan {
    &__title {
	  &::before {
        left: 90px;
      }
      &::after {
        right: 90px;
      }
    }
  }
}
